<table class="table">
    <thead>
        <tr>
            <th>{{#str}} course {{/str}}</th>
            <th>{{#str}} category {{/str}}</th>
            <th>{{#str}} total {{/str}}</th>
        </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td><a href="{{{course_url}}}">{{{fullname}}}</a></td>
            <td><a href="{{{category_url}}}">{{{category}}}</a></td>
            <td>{{{score}}}</td>
        </tr>
    {{/items}}
    </tbody>
</table>